body{
    background-color:silver;
    
}
h1{
    color: white;
    text-align:center;
    background-color: tomato;
    padding: 10 0 50 0;
}
ul{
    background-color: silver;
}
p1{
    background-color: brown;
    padding: 0 200 300 0;

}